/* Blog Post Page */
.post-hero {
    text-align: center;
    padding: 2rem;
  }
  
  .post-hero img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .post-hero h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  article {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;  /* Necesario para el pseudo-elemento */
}

article::before {
    content: "";
    position: absolute;
    top: -10px;  /* Ajusta según sea necesario */
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: inherit;  /* Coincide con el radio del borde del artículo */
    background: linear-gradient(to right, rgba(255, 126, 95, 0), rgb(134, 176, 255));
    z-index: -1;
}


  
  article h2 {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: #333;
  }
  
  article p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #555;
  }
  
  .back-link {
    display: block;
    text-align: center;
    margin: 2rem auto;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    max-width: 200px;
  }
  